.git
.gitignore
.gitattributes
.env*
!.env.example
node_modules
vendor
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
*.log
.dockerignore
Dockerfile
docker-compose*
README.md
phpunit.xml
.editorconfig
.styleci.yml
tests
.vscode
.idea
*.md
.DS_Store
